.enter1 {
  transform: translateX(100%);
  z-index: 5000;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  background: inherit;
}

.enterActive1 {
  transform: translateX(0);
  transition: all 0.35s;
}

.exit1 {
  transform: translateX(0);
  z-index: 5000;
  position: fixed;
  overflow: hidden;
  left: 0;
  width: 100%;
  background: inherit;
}

.exitActive1 {
  transform: translateX(-100%);
  transition: all 0.35s;
  opacity: 0;
}

.enter2 {
  transform: translateX(-100%);
  z-index: 5000;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  background: inherit;
}

.enterActive2 {
  transform: translateX(0);
  transition: all 0.35s;
}

.exit2 {
  transform: translateX(0);
  z-index: 5000;
  position: fixed;
  overflow: hidden;
  left: 0;
  width: 100%;
  background: inherit;
}

.exitActive2 {
  transform: translateX(100%);
  transition: all 0.35s;
  opacity: 0;
}
